/** Style Reset **/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/** Default Styles **/

:root {
  --text: #ffffff;
  --background: #041726;
  --nagative: #FF0000;
  --positive: #00A43F;
  
  font-size: 15px;
  color: var(--text);
  font-family: 'Inter', sans-serif;
}

body {
  background-color: var(--background);
}

h1 {
 font-size: 4rem;
 font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
}